<html lang="en-US">
  <title>CMS</title>
  <link rel="stylesheet" href="/cms.css">
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
  
    <%= yield %>
  </body>
</html>
